{{#each abt_res}}
<div class="row mb-5">
    <div class="col">
            <h3 class="display-6 text-center">{{ABT_TITLE}}</h3>
            {{#if is_image}}
            <div class="text-center">
                <img class="img rounded img-fluid" src="{{ABT_DET}}" >
            </div>
            {{else}}
            <div class="text-center">
                {{ABT_DET}}
            </div>
            {{/if}}
    </div>
</div>
{{/each}}