    <div>
      <div style="display: grid; grid-template-columns: 1fr 2fr;">
        <div id="map">

        </div>
        <div id="contact">
          <h3>Contact Us</h3>
          <p>
            Please feel free to contact us if you have any questions or inquiries.
          </p>
          <p>
            Location: <br>
            Opening Hours<br>x
            Phone Number<br>
            Email Address<br>
          </p>
        </div>
      </div>
    </div>
      <div class="border-div">
      <h3>Send Us Your Inquiry</h3>
      <div class="container">
        <form>
          <div>
            <input type="text" id="fname" name="fname" placeholder="Your first name...">
            <input type="text" id="lname" name="lname" placeholder="Your last name...">
            <input type="text" id="org" name="org" placeholder="Your organization name...">
          </div>
          <div style="grid-column: 2 / span 3;">
            <textarea id="inquiry" name="inquiry" placeholder="Write your inquiry here..." style="height:200px"></textarea>
          </div>
          <div style="grid-column: 2 / span 2; text-align:right;">
            <input type="submit" value="Submit">
          </div>
