<h1>Donations</h1>
<div class="row">
    <div class="col">
        <button type="button" id="btnNew" name="btnNew" class="btn btn-primary" >ADD DONATION</button>
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table table-hover">
            <thead>
                <th>DATE</th>
                <th>APPEAL</th>
                <th>DONOR ID</th>
                <th>DONOR NAME</th>
                <th>AMOUNT</th>
                <th>REMARKS</th>
                <th>&nbsp;</th>
            </thead>
            <tbody>
                
                <tr>
                    <td></td>
					<td></td>
					<td></td>
					<td></td>
                    <td></td>
                    <td></td>
					<td><button class="edit-btn btn btn-secondary"  data-bs-toggle="modal" data-bs-target="#edit-modal">Edit</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>