<div class="error-body">
	<div class="bg-image" style="background-image:url('/images/404.jpg'); height:100vh;background-position: center center;background-repeat: no-repeat;">
		<br><br><br>
		<h2 class="font-weight-bold text-center" style="color:white">{{message}}</h2>
	</div>
</div>	