<div class="jumbotron" style="padding-top:0px">
      <img class="img rounded img-fluid"
					src="/images/welcome.jpeg" alt="TCF">
      <h1 class="display-4">Welcome to The Catholic Foundation</h1>
</div>

<hr class="my-4">

<div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Feature 1</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Feature 2</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
</div>
        