<div class="jumbotron" style="padding-top:0px">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Login</h3>
                    </div>
                    <div class="panel-body">
                        <form method="post" action="/login">
                            <div class="form-group">
                                <input type="text" class="form-control" id="username" placeholder="Enter username">
                            </div>
                            <br>
                            <div class="form-group">
                                <input type="password" class="form-control" id="password" placeholder="Enter password">
                            </div>
                            <br>
                            <button type="submit" class="btn btn-primary" >Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
      <img class="img rounded img-fluid"
					src="/images/welcome.jpeg" alt="TCF">
      <h1 class="display-4">Welcome to The Catholic Foundation</h1>
</div>

<hr class="my-4">
<h1 class="text-center"><span class="badge bg-secondary">News and Events</span></h1>
<div class="row">
    <div class="card-group">
        <div class="card">
            <img src="https://donorbox.org/nonprofit-blog/wp-content/uploads/2017/11/Community-fundraising-for-church.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">News 1</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img src="https://donorbox.org/nonprofit-blog/wp-content/uploads/2017/11/Community-fundraising-for-church.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">News 2</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img src="https://donorbox.org/nonprofit-blog/wp-content/uploads/2017/11/Community-fundraising-for-church.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Event 1</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">Last updated 3 mins ago</small>
            </div>
        </div>
    </div>
</div>
        