<h1>News and Events</h1>
<div class="row">
    <div class="col">
        <button type="button" id="btnNew" name="btnNew" class="btn btn-primary" >ADD NEWS/EVENTS</button>
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table table-hover">
            <thead>
                <th>TYPE</th>
                <th>DATE POSTED</th>
                <th>TITLE</th>
                <th>&nbsp;</th>
            </thead>
            <tbody>
                {{#each ne_res}}
                <tr>
                    <td>{{type_txt}}</td>
					<td>{{dtname}}</td>
					<td>{{ne_title}}</td>
					<td><button class="edit-btn btn btn-secondary" data-id="{{ne_id}}" data-bs-toggle="modal" data-bs-target="#edit-modal">Edit</button></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    document.getElementById("btnNew").onclick = function () {
        location.href = "/newsevents/add";
    };
</script>