@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.navbar .nav-item .nav-link{
    letter-spacing: 1px;
}

.navbar .nav-item .nav-link:after {
    display: block;
    content: '';
    color: #d7d7d7;
    border-bottom: solid 3px #ffffff;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    transform-origin: 0% 50%
}

.navbar .nav-item .nav-link:hover:after {
    transform: scaleX(1);
}

.bg-nav{
    /* background-color: #0b0b0c; */
    background-color: #495057;
    -webkit-box-shadow: 3px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 10px 5px 0px rgba(0,0,0,0.75);
}

.navbar-border{
    font-family: 'Lobster', cursive;
    letter-spacing: 2px;
    padding:3px;
    border-bottom: solid 3px #d7d7d7;
    border-top: solid 3px #d7d7d7;
    border-right: solid 3px #d7d7d7;
    border-left: solid 3px #d7d7d7;    
    font-weight: 700 !important;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);

}

/* Style for the map location */
#map {
  height: 400px;
  width: 100%;
}

/* Style for the contact us paragraph */
#contact {
  padding: 10px;
}

/* Style for the form input fields */
input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

/* Style for the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Style for the container of the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Style for the form */
form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.border-div {
    border: 1px solid #ccc;
    padding: 20px;
}